A new online order for ADI was submitted on [(${orderDate})] 

Use the information below to complete the order in Sales Express.  For any questions or issues with this order, please contact the customer.
 

--- Service Information ---
    Confirmation Number: [(${orderID})]
    Requested Service: [(${orderType})]
    Speed: [(${speed})]
    Interface Name: [(${interfaceName})]
    Installation: [(${installationType})]
   
--- Service Location Detail ---
    Registered Company Information: [(${businessName})]
    OtherBusinessName: [(${otherBusinessName})]
    Address1: [(${installAddress1})]
    Address2: [(${installAddress2})]
    City:  [(${installCity})]
    State: [(${installState})]
    ZIP: [(${installZip})]


--- Primary Customer Contact Information ---    
    Customer Name:  [(${customerName})]
    Primary Phone Number:   [(${primaryNumber})]
    Email:  [(${email})]

--- Alternative Customer Contact Information ---
    Secondary Contact Name: [(${secondaryContactName})]
    Phone: [(${secondaryNumber})]
    SecondaryEmailAddress: [(${secondaryEmailAddress})]
       
--- Shipping Address Information ---    
    Customer Name:  [(${customerName})]
    Address1: [(${shippingAddress1})]
    Address2: [(${shippingAddress2})]
    City:  [(${shippingCity})]
    State: [(${shippingState})]
    ZIP: [(${shippingZip})]
    
--- Registered Business Information ---    
    Customer Name:  [(${customerName})]
    Address1: [(${billingAddress1})]
    Address2: [(${billingAddress2})]
    City:  [(${billingCity})]
    State: [(${billingState})]
    ZIP: [(${billingZip})]
    
    --- Schedule Installation Information ---    
    InstallationDate: [(${installationDate})]
    ArrivalTimeFrame:  [(${arrivalTimeFrame})]
    InstallInfo: [(${installInfo})]
    
    --- Additional Products  ---  
    [(${additionalServices})]