
A new online order for Collaborate was submitted on [(${orderDate})] 

Use the information below to complete the order in Sales Express.  For any questions or issues with this order, please contact ___________.
 
--- Service Validation ---
Company name:  [(${businessName})] 
Address 1: [(${serviceAddress1})] 
Address 2: [(${serviceAddress2})] 
City: [(${serviceCity})] 
State: [(${serviceState})] 
ZIP Code: [(${serviceZip})] 


--- Design Solution: Location ---
Is this Location App Download only?: [(${computerOrMobileOnly})] 
Do you require Signaling Encryption?: Yes
Number of Seats: [(${numberOfUsers})] 
Competitor: Others

--- Design Solution: Feature Bundles ---
Enhanced Voice Feature Bundle: 0
Contact Center Bundle: 0
Shared Workspace Bundle: 0
Unified Communications Bundle: 0

--- Design Solution: A la Carte Features ---
Auto Attendant: 0
Contact Center Supervisor w/ Web Client: 0
Contact Center Agent w/ Web Client: 0
Pre-alerting Announcement: 0
Receptionist Web Console: 0

--- Design Solution: Equipment ---
Equipment provider: [(${equipmentProvider})]
Equipment - List: 
[(${equipmentList})] 

--- Design Solution: Discounts ---
Term: 12 months
AT&T Collaborate Promotions: blank
Discount Authority Level: AE
Total Monthly Discount %: 28.57%
Purchased Equipment Discount %: 0
Equipment Installation Discount %: 0
International Calling: No

--- Opportunity: Opportunity Information ---
Opportunity Name: 
Opportunity Type: Acquisition
Acquisition Type: New
Close Date: [(${orderDate})] 
Perform Credit Check: Yes

--- Opportunity: Opportunity Team ---

--- Opportunity: Competitors ---
Other: None

--- Account Details: Account Details For Contract ---
Account Legal Name: [(${businessName})]
Address: [(${primaryContactAddress1})]  [(${primaryContactAddress2})]
City: [(${primaryContactCity})]
State: [(${primaryContactState})]
Zip: [(${primaryContactZip})]
Phone: [(${primaryContactPhone})]

--- Opportunity: Non Standard Engagement ---
Does the customer need Network Integration Services? No
Do you want Custom Contract Language? No

--- Presentation ---
Skip this screen

--- Proposal ---
Do not send bill preview to customer.  Send to scheduling@attcollaborate.com

--- Sales Support Design Session Required ---
Contact [(${primaryContactFirstName})] [(${primaryContactLastName})] at [(${primaryContactPhone})] and/or [(${primaryContactEmail})]  to schedule the design session

--- Generate Contract ---
- Customer Contact -
First Name: [(${primaryContactFirstName})] 
Last Name: [(${primaryContactLastName})]
Phone: [(${primaryContactPhone})]
Email: [(${primaryContactEmail})]
Address 1: [(${primaryContactAddress1})]
Address 2: [(${primaryContactAddress2})]
City: [(${primaryContactCity})]
State: [(${primaryContactState})]
Zip: [(${primaryContactZip})]
- Master Agreement Details -
Select Create a New MA
- Technical Checklist -
Select Understand & Agree

--- View/Sign/Forward Contracts ---
Contract Delivery Options: Forward Contracts
Contract Signer Name: [(${primaryContactFirstName})] [(${primaryContactLastName})]
Contract Signer Title: [(${primaryContactJobTitle})]
Contract Signer Email: [(${primaryContactEmail})]
Automatically send countersigned contract to the customer: No
Customer Signature Options: Select Web Signature and Voice Signature
Send Contract to: Select Contract Signer (and Yourself, if desired)
Customer Email Personalization: The contract for your AT&T Collaborate service is attached. Please review and sign according to the instructions provided.

*** Follow standard procedure for scheduling and conducting Design Session ***

--- Order Handoff: Order Information ---
Sales Stage: Closed/Sale
Reason Won/Lost: Relationship
Order Type: New
Order Description: 
Billing Options: Single
Billing Preference: eBill
Is this order tax exempt: Use standard procedure to determine Yes/No


--- Order Handoff: Contact ---
Customer contact First Name: [(${primaryContactFirstName})] 
Customer contact Last Name: [(${primaryContactLastName})]
Customer contact Phone: [(${primaryContactPhone})]
Customer contact Email: [(${primaryContactEmail})]
Customer contact Address 1: [(${primaryContactAddress1})]
Customer contact Address 2: [(${primaryContactAddress2})]
Customer contact City: [(${primaryContactCity})]
Customer contact State: [(${primaryContactState})]
Customer contact Zip: [(${primaryContactZip})]

Alternate contact First Name: [(${secondaryContactFirstName})] 
Alternate contact Last Name: [(${secondaryContactLastName})]
Alternate contact Phone: [(${secondaryContactPhone})]
Alternate contact Email: [(${secondaryContactEmail})]
Alternate contact Address 1: [(${secondaryContactAddress1})]
Alternate contact Address 2: [(${secondaryContactAddress2})]
Alternate contact City: [(${secondaryContactCity})]
Alternate contact State: [(${secondaryContactState})]
Alternate contact Zip: [(${secondaryContactZip})]

Billing contact First Name: [(${primaryContactFirstName})]
Billing contact Last Name:  [(${primaryContactLastName})]
Billing contact Phone: [(${primaryContactPhone})]
Billing contact Email: [(${primaryContactEmail})]
Billing contact Address 1: [(${billingAddress1})]
Billing contact Address 2: [(${billingAddress2})]
Billing contact City: [(${billingCity})]
Billing contact State: [(${billingState})]
Billing contact Zip: [(${billingZip})]

Business Center Administrator Name: [(${primaryContactFirstName})]  [(${primaryContactLastName})]
Business Center Administrator Email: [(${primaryContactEmail})]
Business Center Administrator Phone: [(${primaryContactPhone})]

--- Order Handoff: Location Information: Location Name A ---
Location Name A Floor / Room: Utilize information from Service address provided: 
[(${serviceAddress1})] [(${serviceAddress2})]
[(${serviceCity})], [(${serviceState})] [(${serviceZip})]


Network Assessment Contact First Name: [(${technicalContactFirstName})]
Network Assessment Contact Last Name: [(${technicalContactLastName})]
Network Assessment Contact Email: [(${technicalContactEmail})]
Send the Network Assessment Email

--- Order Handoff: Location Information: Contacts ---
Location Contact First Name: [(${siteContactFirstName})]
Location Contact Last Name: [(${siteContactLastName})]
Location Contact Address 1: [(${siteContactAddress1})]
Location Contact Address 2: [(${siteContactAddress2})]
Location Contact City: [(${siteContactCity})]
Location Contact State: [(${siteContactState})]
Location Contact Zip: [(${siteContactZip})]

Alt. Location Contact First Name: [(${secondaryContactFirstName})] 
Alt. Location Contact Last Name: [(${secondaryContactLastName})] 
Alt. Location Contact Address 1: [(${secondaryContactAddress1})] 
Alt. Location Contact Address 2: [(${secondaryContactAddress2})] 
Alt. Location Contact City: [(${secondaryContactCity})] 
Alt. Location Contact State: [(${secondaryContactState})] 
Alt. Location Contact Zip: [(${secondaryContactZip})] 

Technical Contact First Name: [(${technicalContactFirstName})]
Technical Contact Last Name: [(${technicalContactLastName})]
Technical Contact Address 1: [(${technicalContactAddress1})]
Technical Contact Address 2: [(${technicalContactAddress2})]
Technical Contact City: [(${technicalContactCity})]
Technical Contact State: [(${technicalContactState})]
Technical Contact Zip: [(${technicalContactZip})]

Shipping Contact First Name: [(${primaryContactFirstName})]
Shipping Contact Last Name: [(${primaryContactLastName})]
Shipping Contact Address 1: [(${shippingContactAddress1})]
Shipping Contact Address 2: [(${shippingContactAddress2})]
Shipping Contact City: [(${shippingContactCity})]
Shipping Contact State: [(${shippingContactState})]
Shipping Contact Zip: [(${shippingContactZip})]

--- Order Handoff: Location Information: TN Configuration ---
- Telephone Numbers -
Number of New TNs: [(${qtyNewNumbersNeeded})] 
Are the new TNs required to be sequential?: No
Are there special customer TN Requirements: No
Do you want TNs listed in the directory: No
Do you want Directory Books Delivered? No
- Porting -
Does this location require porting TN's?: [(${portNumbers})] 
Billing Telephone Number: [(${billingPhoneNumber})]
Port Billing Number?: [(${portBillingNumber})]
Port Type: [(${portFullAccount})]
Quantity of Working TNs: [(${qtyNumberToPort})]
Numbers to Port: [(${phoneNumbersToPort})]
- Assign Virtual Telephone Numbers -
NPA-NXX: Leave blank
Quantity of VTNs: Leave blank unless needed to resolve not valid service locations
- Calling Name -
Leave defaulted values

--- Order Handoff: Location Information: Design Details ---
Update based on standard procedure

--- Order Handoff: Location Information: Implementation ---
Update based on standard procedure

Submit order when complete, and email summary to [(${primaryContactEmail})]
