<h1>DirecTV For Business Order</h1>

A new online DirecTV for Business order was submitted on [(${orderDate})] 

Use the information below to complete the order.  For any questions or issues with this order, please contact dtvorders@bcg.com.

<h3>Business Details</h3> 
<ul>
<li>Name:  [(${firstName})] [(${lastName})] </li>
<li>Email: [(${emailAddress})] </li>
<li>Phone: [(${phoneNumber})] </li>
<li>Company name:  [(${companyname})] </li>
<li>Service Address: [(${address1})] [(${address2})] </li>
<li>Number of floors in Building: [(${floors})] </li>
<li>Best time to call: [(${bestTimeToCall})] </li>
<li>Comments: [(${comments})] </li>
<li>Account Type: [(${accountType})] </li>
<li>EVO Range: [(${evoRange})] </li>
<li>Fire Code Occupancy: [(${fco})] 
Note! - Please confirm FCO with customer. </li>
</ul>


<h3>Cart Details</h3>
<p>Package Name: [(${packageName})] </p>
<p>DWS Key: [(${packageKey})] 
</p>

<p>Selected Addons: <ul>
[(${addonKeyList})] 
</ul>
</p>

<h3>Equipment Details</h3>
<p>HD Receiver Count: [(${hdReceiverCount})] </p>
<p>HD DVR Receiver Count: [(${DVRReceiverCount})] </p>

<h3>Promotions</h3>
Please apply the following promotions:
<ul>
[(${promotionKeyList})] 
</ul>


<h3>Quoted Price</h3>
The following prices were quoted to the customer:
<p>First Bill Subtotal: [(${firstBill})] </p>
<p>Second Monthly Subtotal: [(${secondBill})] </p>