A new online Security order was submitted on [(${securityorderDate})] 

Use the information below to complete the order in Sales Express.  For any questions or issues with this order, please contact the customer.
 

--- Security order Information ---
    Confirmation Number: [(${securityorderID})]
   
--- Service Location Detail ---
    Registered Company Information: [(${businessName})]
    Address1: [(${businessAddress1})]
    Address2: [(${businessAddress2})]
    City:  [(${businessCity})]
    State: [(${businessState})]
    ZIP: [(${businessZip})]

--- Primary Customer Contact Information ---    
    Customer Last Name:  [(${primaryLastName})]
    Customer First First:  [(${primaryFirstName})]
    Phone Number:   [(${primaryPhoneNumber})]
    Email:  [(${primaryEmailId})]
    Address1: [(${primaryAddress1})]
    Address2: [(${primaryAddress2})]
    City:  [(${primaryCity})]
    State: [(${primaryState})]
    ZIP: [(${primaryZip})]

--- Secondary Customer Contact Information ---    
    Customer Last Name:  [(${secondaryLastName})]
    Customer First First:  [(${secondaryFirstName})]
    Phone Number:   [(${secondaryPhoneNumber})]
    Email:  [(${secondaryEmailId})]
    Address1: [(${secondaryAddress1})]
    Address2: [(${secondaryAddress2})]
    City:  [(${secondaryCity})]
    State: [(${secondaryState})]
    ZIP: [(${secondaryZip})]
 
--- Products  ---  
    [(${productConfigurations})]
